body {
  font-family:'Museo Sans 700';
  background-color: #fff;
}
#heading {
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 32px;
}

header {
  background-colour: #041243;
  height: 150px;
  padding: 4px;
}

header hi {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-size: 30px;
}

header h2  {
  font-variant: small-caps;
  text-align: center;
  color: #fff;
}

.main_menu {
  padding: 5px 0 5px 0;
  text-align: center;
  line-height: 32px;
  background-color: #004c97;
}

ul.main_menu {
  margin-top: 15px;
}

.main_menu li {
  display: inline;
  padding: 0 10px 0 10px;
  font-size: 20px;
}

.main_menu a {
  text-decoration: none;
  colour: #fff;
  padding: 8px;
  font-variant: small-caps;
}

.main_menu a:hover {
  color: #4d4d4f;
  text-decoration: underline;
}
  

